In [10]:
import pandas as pd

In [11]:
df = pd.read_excel("") #put path to excel file

In [12]:
df.head()

,Source,Timestamp,Gender,Age group / Year of Birth,Nationality (please indicate),Occupation/ Job title,Why did you join AFR-SG? / \nHow do you wish to contribute to the cause?,What are some of your areas of interest(s)?,"Do you have any skills, experiences, strengths that you could offer to the group? (please only choose what is relevant to you)",How much time do you have available for volunteering? (e.g. 1 - 2 hours a week; weekdays; evenings; weekends; shifts; flexible)
0,1.0,2016-05-29 19:58:05.562,Male,25-34,Singaporean,Programme Officer,Believe that refugees deserve equal opportunit...,"Policy change/reform, public outreach, awarene...","Advocacy / Campaigning, Fundraising / Partners...",Evenings; occasionally on weekends
1,1.0,2016-05-29 20:12:14.090,Female,19-24,Indian,Student,"Learn more about refugees and related issues, ...",Political science,Administration (i.e. data entry / management /...,Flexible
2,1.0,2016-05-29 20:15:43.953,Male,19-24,Singaporean,Student,"Learn more about refugees and related issues, ...",Law,Policy,flexible
3,1.0,2016-05-29 20:29:18.128,Male,19-24,Singaporean,Student,"Learn more about refugees and related issues, ...",Raising awareness of the refugee situation loc...,Administration (i.e. data entry / management /...,"flexible, mostly afternoons"
4,1.0,2016-05-29 20:37:44.177,Female,19-24,Singaporean,Researcher,"Learn more about refugees and related issues, ...","Gender, sociology, human rights and development","Advocacy / Campaigning, Education (i.e. mentor...",Flexible

In [13]:
df['Age group / Year of Birth'].value_counts()

19-24         145
25-34         132
35-44          40
1997.0          9
19 - 24         8
45-54           7
1991.0          7
25 - 34         7
2000.0          6
> 18            6
2001.0          6
1992.0          6
1998.0          4
1996.0          4
1989.0          3
1995.0          3
1990.0          3
1994.0          3
2005.0          3
1993.0          3
1999.0          3
1987.0          2
1980.0          2
1975.0          2
1974.0          2
2004.0          2
2003.0          2
1986.0          2
1988.0          2
1985.0          1
1965.0          1
35 - 44         1
1982.0          1
1978.0          1
1981.0          1
01_01_2000      1
< 55            1
45 - 54         1
1972.0          1
1/8/1999        1
1971.0          1
1968.0          1
2002.0          1
Name: Age group / Year of Birth, dtype: int64

In [20]:
df.loc[df["Age group / Year of Birth"]=="45 - 54", ["Age group / Year of Birth"]]="45-54"

In [21]:
df.loc[df["Age group / Year of Birth"]=="25 - 34", ["Age group / Year of Birth"]]="25-34"
df.loc[df["Age group / Year of Birth"]=="35 - 44", ["Age group / Year of Birth"]]="35-44"
df.loc[df["Age group / Year of Birth"]=="19 - 24", ["Age group / Year of Birth"]]="19-24"
inter_df=df

In [26]:
df.dtypes

Source                                                                                                                                    float64
Timestamp                                                                                                                          datetime64[ns]
Gender                                                                                                                                     object
Age group / Year of Birth                                                                                                                  object
Nationality (please indicate)                                                                                                              object
Occupation/ Job title                                                                                                                      object
Why did you join AFR-SG? / \nHow do you wish to contribute to the cause?                                                                   object
What are some of your areas of interest(s)?                                                                                                object
Do you have any skills, experiences, strengths that you could offer to the group? (please only choose what is relevant to you)             object
How much time do you have available for volunteering? (e.g. 1 - 2 hours a week; weekdays; evenings; weekends; shifts; flexible)            object
dtype: object

In [34]:
for ind in df.index:
    try:
        df.loc[ind, "Age group / Year of Birth"]=float(df["Age group / Year of Birth"][ind])
    except:
        pass

In [46]:
age_1924 = [i for i in range(19,25)]
age_2534 = [i for i in range(25,35)]
age_3544 = [i for i in range(35,45)]
age_4554 = [i for i in range(45,54)]
for ind in df.index:
    if type(df["Age group / Year of Birth"][ind])==float:
        if (2022.0-df["Age group / Year of Birth"][ind] in age_1924):
            df.loc[ind, ["Age group / Year of Birth"]]="19-24"
            continue
        if (2022.0-df["Age group / Year of Birth"][ind] in age_2534):
            df.loc[ind, ["Age group / Year of Birth"]]="25-34"
            continue
        if (2022.0-df["Age group / Year of Birth"][ind] in age_3544):
            df.loc[ind, ["Age group / Year of Birth"]]="35-44"
            continue
        if (2022.0-df["Age group / Year of Birth"][ind] in age_4554):
            df.loc[ind, ["Age group / Year of Birth"]]="45-54"
            continue

In [58]:
df['Age group / Year of Birth'].value_counts()

25-34    182
19-24    177
35-44     51
45-54     15
>=18       8
<18        3
<55        1
>55        1
Name: Age group / Year of Birth, dtype: int64

In [150]:
df.to_excel("", index=False) #put path to new excel file

In [57]:
df.loc[df["Age group / Year of Birth"]=="> 18", ["Age group / Year of Birth"]]=">=18"
df.loc[df["Age group / Year of Birth"]==2004.0, ["Age group / Year of Birth"]]=">=18"
df.loc[df["Age group / Year of Birth"]==2005.0, ["Age group / Year of Birth"]]="<18"
df.loc[df["Age group / Year of Birth"]=="< 55", ["Age group / Year of Birth"]]="<55"
df.loc[df["Age group / Year of Birth"]==1968.0, ["Age group / Year of Birth"]]="45-54"
df.loc[df["Age group / Year of Birth"]=="1/8/1999", ["Age group / Year of Birth"]]="19-24"
df.loc[df["Age group / Year of Birth"]==1012000.0, ["Age group / Year of Birth"]]="19-24"
df.loc[df["Age group / Year of Birth"]==1965.0, ["Age group / Year of Birth"]]=">55"

In [97]:
found=[]
for i in df.index:
    dat=df["Nationality (please indicate)"][i]
    if dat.find("Malay")!=-1 and (dat not in found):
        found.append(dat)
        print(dat)
        print(len(df[df["Nationality (please indicate)"]==dat]))

Malaysian
4

In [149]:
df["Nationality (please indicate)"].value_counts().sort_index(ascending=True)

Afghan                   2
American                14
Australian               7
British                  5
Canadian                 5
Chinese                  2
Filipino                 4
French                   5
Indian                  14
Indonesian               8
Living in Singapore      3
Malaysian                6
Myanmar                  2
Others                  20
Russian                  2
Singaporean            333
Spanish                  2
Thai                     2
UK                       2
Name: Nationality (please indicate), dtype: int64

In [130]:
df.loc[df["Nationality (please indicate)"]=="British/Spanish", ["Nationality (please indicate)"]]="British"

In [148]:
for i in df.index:
    current_nationality=df["Nationality (please indicate)"][i]
    if len(df[df["Nationality (please indicate)"]==df["Nationality (please indicate)"][i]])==1:
        df.loc[i, ["Nationality (please indicate)"]]="Others"

In [136]:
df.loc[df["Gender"]=="Male", ["Gender"]]=1

In [137]:
df.loc[df["Gender"]=="Female", ["Gender"]]=2

In [138]:
df.head()

,Source,Timestamp,Gender,Age group / Year of Birth,Nationality (please indicate),Occupation/ Job title,Why did you join AFR-SG? / \nHow do you wish to contribute to the cause?,What are some of your areas of interest(s)?,"Do you have any skills, experiences, strengths that you could offer to the group? (please only choose what is relevant to you)",How much time do you have available for volunteering? (e.g. 1 - 2 hours a week; weekdays; evenings; weekends; shifts; flexible)
0,1.0,2016-05-29 19:58:05.562,1,25-34,Singaporean,Programme Officer,Believe that refugees deserve equal opportunit...,"Policy change/reform, public outreach, awarene...","Advocacy / Campaigning, Fundraising / Partners...",Evenings; occasionally on weekends
1,1.0,2016-05-29 20:12:14.090,2,19-24,Indian,Student,"Learn more about refugees and related issues, ...",Political science,Administration (i.e. data entry / management /...,Flexible
2,1.0,2016-05-29 20:15:43.953,1,19-24,Singaporean,Student,"Learn more about refugees and related issues, ...",Law,Policy,flexible
3,1.0,2016-05-29 20:29:18.128,1,19-24,Singaporean,Student,"Learn more about refugees and related issues, ...",Raising awareness of the refugee situation loc...,Administration (i.e. data entry / management /...,"flexible, mostly afternoons"
4,1.0,2016-05-29 20:37:44.177,2,19-24,Singaporean,Researcher,"Learn more about refugees and related issues, ...","Gender, sociology, human rights and development","Advocacy / Campaigning, Education (i.e. mentor...",Flexible